<p class="mt-4">I'm a car guy that has always performed my own vehicle inspections as long as I could get my hands on the car. </p>

<p class="mt-4">As purchasing remotely has become more and more common, I've found that the best long distance purchases I've made are when I can find somebody I can trust that can go be my hands and eyes. </p>

<p class="mt-4">On the flipside, the worst purchases I've made have been when I trusted a larger business that seems to have gotten into the PPI business for all the wrong reasons.</p>

<p class="mt-4">I want to help you make an informed choice on your next vehicle purchase, so you can steer clear of the hackjobs, the poorly maintained, & the instant regret-mobiles that fill up our used car marketplaces.</p>
