<p class="mt-4">Basic on-site pre-purchase inspections are $150, more depending on drive time to get there. As long as you're willing to pay for my travel time outside of my home geographical area, I'm game for performing a vehicle PPI for you.</p>
<div class="mt-4">
  <div class="text-xl mb-2">Basic Inspection covers:</div>
  <ul class="list-disc list-inside">
    <li class="pb-2">Full exterior inspection for paint issues, paint quality assessment, undisclosed paint repair, undisclosed body repair, deeper inspection of disclosed repairs for further undisclosed damage</li>
    <li class="pb-2">Underbody inspection</li>
    <li class="pb-2">Engine bay inspection</li>
    <li class="pb-2">OBD2 code scan and analysis</li>
    <li class="pb-2">Wheels, tires, brakes inspection: tread depth and age of tires, wheel damage, brake life assessment, irregular tire wear</li>
    <li class="pb-2">Suspension and steering components inspection</li>
    <li class="pb-2">Exhaust system inspection</li>
    <li class="pb-2">All doors, trunk, hood, hatch, tailgate operating as expected, windows & doorlocks operation, spare tire & repair kit</li>
    <li class="pb-2">Recommended maintenance vs. actual analysis & report</li>
    <li class="pb-2">Owner's manual, maintenance & repair paperwork</li>
  </ul>
</div>
<div class="mt-4">
  <div class="text-xl">Additional Services</div>
  <ul class="list-disc list-inside">
    <li class="pb-2">$75 – Lift vehicle and inspect each wheel & suspension components in detail – may not be available depending on vehicle location, weather, etc</li>
    <li class="pb-2">$50 – Vehicle history report</li>
  </ul>
</div>
